
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
* {
    font-family: 'Rubik','Poppins', Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
}

.boxes-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
    color: #04014E;
    font-family: 'Rubik','Poppins', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.box {
    background: #ffffff;
    width: 250px;
    height: 200px;
    box-shadow: 0px 0px 46px #0000000F;
    border-radius: 15px;
    margin: 1%;
}

.box-section-one {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
